{% block nav %}
	<div class="tabs">
		<div class="nav--middle">
			<div class="nav--content">
				<div class="tab-list">
					<div class="tab"><a href="{{ path('site_homepage') }}" alt="" class="tab__action" />Accueil</a></div>
					<div class="tab"><a href="{{ path('site_forfaits') }}" alt="" class="tab__action" />Les Formules</a></div>
					<div class="tab"><a href="{{ path('site_evalu') }}" alt="" class="tab__action" />Le budget</a></div>
					<div class="tab"><a href="{{ path('site_contact') }}" alt="" class="tab__action" />Contactez nous</a></div>
					<div class="tab"><a href="{{ path('site_situer') }}" alt="" class="tab__action" />Nous situer</a></div>
					<div class="tab"><a href="{{ path('site_faq') }}" alt="" class="tab__action" />FAQ</a></div>
					<div class="tab"><a href="{{ path('site_homepage') }}" alt="" class="tab__action" />La galerie</a></div>
					<div class="tab"><a href="{{ path('site_quisuisje') }}" alt="" class="tab__action" />Qui suis je ?</a></div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}